<tr>
  <td><%= link_to "Турбазы", camp_sites_index_url%></td>
  <td><%= link_to "Города", cities_index_url%></td>
  <td><%= link_to "Регионы", regions_index_url%></td>
  <td><%= link_to "Страны", countries_index_url%></td>
</tr>